@import './vars.scss';
chat.module{
	position: absolute;
	bottom: 2vh;
	right: 0;
	left:inherit;
	top:inherit;
	width: 25%;
	height: 40vh;
	background-color:rgba(135,135,135,.5);
	box-shadow: 0 0;
	.header{
		float: left;
		top: 25px;
		left: 0;
		width: 100%;
		display: flex;
		align-items: center;
		z-index: 3;
		height: 20%;
		#user {
			flex-grow: 1;
			flex-basis: 0;
			display: flex;
			align-items: center;
			img{
				width: 10%;
			}
			p {
				display: inline-block;
			}
		}
		#search { flex-grow: 1; flex-basis: 0; }
	}
	#chats {
		float: left;
		display: flex;
		top: 20%;
		flex-direction: column;
		li {
			list-style: none;
			img {
				width: 50px;
				heigth: 50px;
				border-radius:50%;
			}
		}
	}
	main {
		position: absolute;
		bottom:0;
		display: flex;
		height: 80%;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		#chatArea {
			flex-grow: 1;
			background-color: #f3f3f3;
			width: 80%;
			overflow-y: auto;
			overflow-x: hidden;
			div {				
				float: left;
				width: 100%;
				.message {
					float: right;
					max-width: 45%;
					background-color: $light_blue;
					padding: 2.5%;
					margin: 2.5%;
					border-radius: 15px 15px;
				}
				.time {
					color: white;
					font-size: 8pt;
					margin-right: 5px;
				}

			}
			div.own{
				.message{
					float: left;
					background-color: $green;
				}
			}

		}
		input {
			flex-basis: 0;
			width: 80%;
		}
	}
}
