@import './vars.scss';
chat{
	position: absolute;
	top: 0;
	left: 0;
	width: 40%;
	height: 25vh;
	background-color: lightgray;
	header{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		align-items: center;
		z-index: 3;
		height: 20%;
		#user {
			align-self: flex-start;
			flex-grow: 1;
			display: flex;
			align-items: center;
			img{
				width: 10%;
			}
			p {
				display: inline-block;
			}
		}
		#search {
			flex-grow: 1;
		}
	}
	#chats {
		position: absolute;		
		display: flex;
		top: 20%;
	}
	main {
		position: absolute;
		bottom:0;
		display: flex;
		height: 80%;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		#chatArea {
			flex-grow: 1;
			background-color: #f3f3f3;
			width: 80%;
			overflow-y: auto;
			overflow-x: hidden;
			div {				
				float: left;
				width: 100%;
				.message {
					float: right;
					max-width: 45%;
					background-color: $light_blue;
					padding: 2.5%;
					margin: 2.5%;
					border-radius: 15px 15px;
				}
				.time {
					color: white;
					font-size: 8pt;
					margin-right: 5px;
				}

			}
			div.own{
				.message{
					float: left;
					background-color: $green;
				}
			}

		}
		input {
			flex-basis: 0;
			width: 80%;
		}
	}
}
