@import './vars.scss';
desktop {
	background-color: $light_blue;
	background-image: url('%wallPaper%');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	height: 100vh;
	width: 100%;
	font-family: $font;	
	display: block;
	#menu {
		position: absolute;
		left: -20%;
		bottom: 0;
		background-color: $light_blue;
		width: 20%;
		height: 40vh;
		transition-property: left;
		transition-duration: .75s;
		display:flex;
		#options {
			flex-grow: 1;
			display: flex;
			flex: 1 1;
			flex-direction: row;
			#profilePicture{
				background-image: url('%profilePicture%');
				background-size: cover;
				width: 25%;
				height: 25%;
			}
			#settings{
				flex-grow: 1;
				nav {
					display: flex;
					flex: 1 1;
					flex-direction: row;
					li {
						list-style: none;
						flex-grow: 1;
					}
				}
			}
		}
		#apps {
			display: grid;
		//	grid-template-area: ;
		}
	}
	#menu.visible { left:0% }
	#modal {
		display: none;;
		position: absolute;
		top: 20vh;
		left: 45vw;
		width: 20vw;
		background-color: white;
	}
	.shadow {
		box-shadow: 5px 5px 5px;
	}
	[id$=Bar]{
		position: absolute;
		.slide {
			background-color: $color3;
			display: flex;
			flex: 1 1;
			justify-content: center;
			align-items: center;
			li {
				list-style:none;
				cursor:pointer;
			}
		}
	}
	#sideBar {
		height: 100vh;
		width: 2%;
		display: flex;
		.slide {
			flex-direction: column;
			margin-right: 2%;
		}
	}
	#downBar {
		height: 2vh;
		width: 100%;
		bottom:0;
		#home {
			flex-grow: 0;
		}
		.slide li{
			flex-grow: 1;
			flex-basis:0;
			text-align:center;
		}
	}
		
}
