@import './vars.scss';
filesystem{
	ul.topBar {
		float: left;
		width: 80%;
		background-color: $darkTone;
		height: $menuHeight*3;
		display: flex;
		align-items: center;
		li.track{svg{height: 100%;}}
		li{
			list-style: none;
			flex-basis: 1;
			cursor: pointer;
			background-color: $lightTone;
			padding: 0.5%;
			margin: 0 0.5%;
			font-family: $metropolisExtraBold;
			height: 80%;
			display: flex;
			align-items: center;
		}
	}
	ul.frecuentFile {
		width: 15%;
		float: left;
		border-right: 5px solid $middleTone;
		height: 97 - $menuHeight*5;
		li {
			list-style: none;
			width: 100%;
		}
	}
	ul#options {
		width: 20%;
		li { font-weight: initial; }
	}
	main {
		float: left;
		width: 79.85%;
		display: inline-block;
		height: 100 - $menuHeight;
		ul.elements{
			width: 100%;
			height: 100%;
			li{
				float: left;
				width: 16%;
				max-width: 150px;
				min-width: 80px;
				list-style: none;
				cursor: pointer;
				svg, img {width: 100px;}
				img { margin-top: 20px;}
				p{
					text-align: center;
					width: 100%;
				}
				p.ellipsis {
					width: 80%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					margin-left: 10%;
				}

			}
			li.moving {
				position: absolute;
			}
			li.selected {
				background-color: $selected_color;
			}
		}
		#changeName {
			width: 20%;
			max-width: 150px;
			position: absolute;
			svg {
				margin-bottom: -20%;
				path {fill: $darkTone;};
			}
			input{margin-top: -50%;margin-left: 16%; width: 60%;height: 10px;}
			
		}
	}	
}

