$light_blue: #63ccff;
$color2: #039be5;
$color3: #006db3;
$green: #A0F58B;
$font: sans-serif;
$shadow: 5px 5px 5px;
$menuHeight: 5%;
$selected_color: lightblue;
$footerHeight: 10%;
*{margin:0;padding:0}
