@import './../../../commonModules/commonstyle/vars.scss';
ul.topBar {
	width: 100%;
	float: left;
	border-bottom:2px solid $color1;
	height: $menuHeight;
	display: flex;
	align-items: center;
	li{
		list-style: none;
		font-weight: bold;
		flex-basis: 1;
		cursor: pointer;
	}
	li:hover {
		font-weight: lighter;
	}
}
ul.frecuentFile {
	width: 20%;
	float: left;
	border-right: 1px solid $color1;
	height: 100 - $menuHeight;
	li {
		list-style: none;
		width: 100%;
	}
}
main {
	float: left;
	width: 79.85%;
	display: inline-block;
	height: 100 - $menuHeight;
	ul.elements{
		width: 100%;
		height: 100%;
		li{
			float: left;
			width: 16%;
			max-width: 150px;
			min-width: 80px;
			list-style: none;
			cursor: pointer;
			p{
				text-align: center;
				width: 100%;
			}
			p.ellipsis {
				width: 80%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				margin-left: 10%;
			}

		}
		li.moving {
			position: absolute;
		}
		li.selected {
			background-color: $selected_color;
		}
	}
}	

